# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Oo]bj
[Bb]in
[Dd]ebug*/
[Rr]elease*/

#Visual Studio
*.sln.cache
*.suo
*.csproj.user

# mstest test results
TestResults

# Resharper
*[Rr]e[Ss]harper.user
_ReSharper*